body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.container {
  display: flex;
  flex-direction: column;
  position: relative;
}

.heading {
  position: fixed;
  z-index: 99999;
  top: 3vh;
  left: 48vw;
}

.heading p {
  font-size: 6vw;
  margin: 0;
}

.footing {
  position: fixed;
  z-index: 99999;
  top: 91vh;
  left: 25vw;
}

.footing p {
  font-size: 2vw;
  margin: 0;
}

.overlay {
  align-self: center;
  background-color: transparent;
  border-top: 15vh solid #ffffff;
  border-right: 5vw solid #ffffff;
  border-left: 5vw solid #ffffff;
  border-bottom: 10vh solid #ffffff;
  width: 50vw;
  height: 75vh;
  z-index: 99999;
  position: absolute;
}

.prev {
  float: left;
  margin-left: -3vw;
  margin-top: 35vh;
  width: 2vw;
}

.next {
  float: right;
  margin-right: -3vw;
  margin-top: 35vh;
  width: 2vw;
}

.prev img,
.next img {
  width: 100%;
}

.content {
  align-self: center;
  background-color: #ffffff8e;
  width: 50vw;
  height: 75vh;
  z-index: 99999;
  position: absolute;
  left: 50%;
  top: 14.6vh;
  transform: translate(-50%, 0);
  border: 0.2rem solid #000000;
  overflow: scroll;
}

.photo {
  position: fixed;
  min-width: 100%;
  min-height: 100%;
  z-index: 0;
}
